<div class="{{ rootElementClass }}" data-config="{{ config|json_encode }}">
    <{{ tag }}
        {% for attribute, value in attributes %}
            data-{{ attribute }}="{{ value }}"
        {% endfor %}
    ></{{ tag }}>
</div>
